@model AspNetGroupBasedPermissions.Model.DrugInventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DrugInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrugGenericName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugGenericName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugBrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugBrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DosageForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosageForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
